body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background: #0d6efd;
    color: white;
}

td, th {
    padding: 10px;
}
